<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/css/output.css">
    <link rel="stylesheet" href="../dist/css/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a7504709e0.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../dist/images/LOGO.png">
    <title>Michael Amata | Portfolio</title>
    <title>Document</title>
</head>
<body>
    <header class="h-20 flex bg-sky-950 sticky top-0 z-50">
        <div class="px-4 flex items-center justify-center flex-shrink sm:flex-1">
            <img class="hidden md:block min-h-6 max-h-9" src="../dist/images/NAME LIGHT.png" alt="My Banner Logo">
            <img class="block w-12 ml-6 sm:mx-auto md:hidden" width="75" src="../dist/images/LOGO.png" alt="My Logo">
        </div>
        <div class="bg-sky-900 flex flex-1 items-center justify-center absolute w-full h-12 md:bg-sky-950 md:h-full md:static top-20">
            <ul class="flex gap-6"> 
                <li><a class="text-white text-md hover:text-amber-300" href="#home">HOME</a></li>
                <li><a class="text-white text-md hover:text-amber-300" href="#aboutme">ABOUT ME</a></li>
                <li><a class="text-white text-md hover:text-amber-300" href="#portfolio">PORTFOLIO</a></li>
            </ul>
        </div>
        <div class="flex-1 justify-end px-4 flex items-center gap-5 sm:justify-center">
            <a href="https://github.com/michlovesuall" target="_blank"><img class="filter invert" width="40" src="../dist/images/githublogo.png" alt="Github Logo"></a>
            <button class="mr-6 px-4 py-1.5 bg-amber-400 hover:bg-amber-300 cursor-pointer">Contact Me</button>
        </div>
    </header>
    <main>
        <section class="bg-sky-950 flex h-[540px]" id="home">
            <div class="flex flex-col justify-center gap-2 py-14 flex-1 relative">
                <div class="flex flex-col items-center sm:px-8 md:pl-12 lg:pl-20 md:items-start px-6 z-20 absolute">
                    <h3 class="text-3xl md:text-[40px] text-white">Hi,</h3>
                    <h1 class="text-center md:text-left text-[2.2rem] md:text-[56px] lg:text-[72px] text-white">I'm <span class="font-bold text-amber-400 whitespace-nowrap">Michael</span></h1>
                    <p class="text-slate-400 text-lg text-center md:text-left">Aspiring Web Developer with a dedication to continuous learning and a drive to contribute innovative solutions to the ever-evolving digital landscape</p>
                    <button class="mt-4 w-44 mr-6 px-4 py-1.5 bg-amber-400 hover:bg-amber-300 cursor-pointer">Download CV<i class="fa-solid ml-1 fa-circle-down"></i></button>
                </div>
                <div class="z-10 absolute lg:pl-8 pl-6 md:pl-4 sm:pl-8">
                    <p class="text-[150px] md:text-[145px] text-center lg:text-left lg:text-[190px] sm:text-[200px] leading-tight font-bold text-white opacity-[0.03]">WEB DEV<span class="hidden md:inline md:text-[145px] lg:text-[190px]">ELOPER</span></p>
                </div>
            </div>
            <div class="flex-1 justify-center items-center hidden md:flex z-30">
                <img width="400" src="../dist/images/portrait.png" alt="Portrait Image">
            </div>
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
        <section class="flex flex-col items-center justify-center bg-sky-900" id="aboutme">
            <h1 class="text-[2rem] tracking-widest py-8 text-amber-400">ABOUT ME</h1>
            <div class="flex px-16 py-8">
                <figure class="w-1/3 hidden md:block" id="illustration">
                    <img class="mx-auto" width="300" src="../dist/images/aboutme.png" alt="">
                </figure>
                <div class="w-2/3 px-8 py-4" id="details">
                    <p class="text-white text-justify text-lg font-extralight"><span class="mr-2 inline-block w-9 h-1 bg-amber-400 rounded"></span>Hello, I am Michael Amata, an aspiring web developer who is dedicated and knowledgeable, with a deep passion for creating web applications. My curiosity about the process of transforming design concepts into fully functional websites fuels my desire to explore the dynamic world of web development. I embrace challenges with enthusiasm and am constantly seeking to expand my skill set. With my dedication, I am committed to making a positive difference by contributing my skills to create impactful web applications</p>
                </div>
            </div>
            <div class="flex flex-col items-center pb-20 w-full">
                <h1 class="text-[1.6rem] py-4 text-white">WORK EXPERIENCE</h1>
                <div class="flex flex-wrap w-full gap-10 pb-10 pt-5 justify-center items-center">
                    <div class="bg-sky-950 px-7 py-3 rounded-xl h-48 flex flex-col justify-center">
                        <h1 class="text-amber-400 text-3xl font-semibold">Web Development Intern</h1>
                        <h1 class="text-white text-xl">BSIT Program Director's Office</h1>
                        <h1 class="text-white">Partido State University</h1>
                        <h1 class="text-white">Goa, Camarines Sur</h1>
                        <h1 class="text-white italic">February - May 2023</h1>
                    </div>
                    <div class="bg-sky-950 px-7 py-3 rounded-xl h-48 flex flex-col justify-center">
                        <h1 class="text-amber-400 text-3xl font-semibold">Graphic Artist</h1>
                        <h1 class="text-white text-xl">Fontaholic Graphic Arts & Printing</h1>
                        <h1 class="text-white">Goa, Camarines Sur</h1>
                        <h1 class="text-white italic">February - May 2023</h1>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center pb-20">
                <h1 class="text-[1.6rem] py-4 text-white">WHAT CAN I DO?</h1>
                <div class="flex gap-16 flex-wrap mt-5">
                    <div class="shadow-lg flex justify-center items-center flex-col w-56 h-72 bg-gradient-to-b from-indigo-500 to-indigo-600 rounded-lg hover:to-indigo-800">
                        <i class="fa-solid fa-code text-[5rem] text-white"></i>
                        <h1 class="text-white mt-10">Front-End Development</h1>
                    </div>
                    <div class="shadow-lg flex justify-center items-center flex-col w-56 h-72 bg-gradient-to-b from-indigo-500 to-indigo-600 rounded-lg transition-all ease-in-out duration-300 hover:ease-in-out hover:to-indigo-800">
                        <i class="fa-solid fa-network-wired text-[5rem] text-white"></i>
                        <h1 class="text-white mt-10">Back-End Development</h1>
                    </div>
                    <div class="shadow-lg flex justify-center items-center flex-col w-56 h-72 bg-gradient-to-b from-indigo-500 to-indigo-600 rounded-lg hover:to-indigo-800">
                        <i class="fa-regular fa-object-ungroup text-[5rem] text-white"></i>
                        <h1 class="text-white mt-10">Graphic Design</h1>
                    </div>
                </div>
            </div>
            <div>
                <div></div>
                <div></div>
            </div>
        </section>
        <section class="flex flex-col items-center bg-sky-950" id="portfolio">
            <h1 class="text-[2rem] tracking-widest py-8 text-white">PORTFOLIO</h1>

        </section>
    </main>
</body>
</html>